*{
    margin: 0;
    padding:0;
}

body {
    background: #0c0b0c;
    opacity: .8;
}

ul{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
}

ul li{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: .5s;
    margin: -100px;
    overflow: hidden;
    opacity: .5;
}
ul li:hover{
    opacity: 1;
}

ul li.item1{
    top: 0;
    left: 0;
}

ul li.item2{
    top: 100%;
    left: 25%;
}

ul li.item3{
    top: 0;
    left: 50%;
}

ul li.item4{
    top: 100%;
    left: 75%;
}

ul li.item5{
    top: 0;
    left: 100%;
}
ul li .bg{
    width: 100%;
    height: 100%;
}
ul li .bg2{
    width: 100%;
    height: 100%;
}
ul li .bg3{
    width: 100%;
    height: 100%;
}
ul li .bg4{
    width: 100%;
    height: 100%;
}
ul li .bg5{
    width: 100%;
    height: 100%;
}
ul li.item1 .bg{
    background: lightgreen;
}
ul li.item2 .bg2{
    background: rgb(165, 27, 153);
}
ul li.item3 .bg3{
    background: rgb(56, 10, 131);
}
ul li.item4 .bg4{
    background: rgb(177, 214, 9);
}
ul li.item5 .bg5{
    background: rgb(146, 2, 2);
}
